*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: blue; */
}

.formLogin{
    background-color: #4a5269;
    margin: auto;
    width: 40%;
}

.username, .password{
    margin: auto;
    width: 80%;
}